@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-size: cover;
  background-repeat: no-repeat;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  /* background: linear-gradient(200deg,rgb(48, 34, 48) 0%, rgb(39, 79, 87) 60%, rgba(18, 20, 61, 1) 100%);  */
  /* background: linear-gradient(200deg,rgb(48, 34, 48) 0%, rgb(142, 204, 216) 60%, rgba(18, 20, 61, 1) 100%); */
  /* background: #e6edf3; */
  /* background: #dfe7ee; */
  /* background: #f4f6f8; */
  /* background: #f1f3f5; */
  /* background: #e8f0f7; */
 /* background: linear-gradient(to top, oklch(90.127% 0.03839 164.943), oklch(90.551% 0.02132 227.74)); */
 /* background:  linear-gradient(to bottom,#e6edf3 0%, #e6edf3 60%, #4a6b86 100%); */
  /* background: linear-gradient(to top, oklch(87.273% 0.02757 249.957), oklch(90.551% 0.02132 227.74)); */
  /* background: linear-gradient(to top, oklch(92.808% 0.03389 119.879),oklch(87.273% 0.02757 249.957)); */
  /* background: linear-gradient(to top, oklch(85.659% 0.03425 272.74), oklch(90.551% 0.02132 227.74)); */
  /* background: linear-gradient(to top, oklch(90.294% 0.03477 176.273), oklch(90.551% 0.02132 227.74)); */
  /* background: linear-gradient(to top, oklch(82.552% 0.1129 216.541), oklch(62.327% 0.10774 136.515)); */
  /* background: linear-gradient(to top, oklch(61.19% 0.21006 291.132), oklch(62.327% 0.10774 136.515)); */
  background: #C9D0EB;
  /* background: #D4C4D8; */
  /* background: #0e25358a; */
  /* background: #16350e8a; */
  /* background: #0e352d8a; */
  /* background: linear-gradient(to top, oklch(86.48% 0.05133 321.814), oklch(90.551% 0.02132 227.74)); */
  /* background: linear-gradient(to top, oklch(85.898% 0.03508 17.704), oklch(90.551% 0.02132 227.74)); */
 /* background: linear-gradient(200deg,rgba(255, 207, 255, .7) 0%, rgba(153, 209, 224, .7) 40%, rgba(196, 200, 255, .7) 100%); */
 /* background: linear-gradient(to bottom,#e6edf3,#f5f7fa); */
 /* background: linear-gradient(to bottom,#e8eef5,#e6e9f0); */
  min-height: 100vh;
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
  background: aliceblue;
  background: linear-gradient(200deg,rgb(48, 34, 48) 0%, rgb(142, 204, 216) 40%, rgba(18, 20, 61, 1) 100%);
  color: #eeeeee; 
  }
}

header{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 260px;

background-image: radial-gradient(circle, rgb(245 207 245) 0%, rgb(142, 204, 216) 71%, rgb(93 95 120) 105%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
display: inline-block;
font-family:fangsong;
font-size:57px;
margin-bottom:10px;

}

.video-background {
  display: flex;
  align-items: end;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 55px;
    overflow: hidden;
    z-index: -1;
    
}
.video-background video {
    min-width: 20%;
    min-height: 20%;
    object-fit:fill;
}

.main-div-h1{
  width: 100%;
  height: 35px;
  border:5px solid rgba(0, 255, 255, 0.1);
  background: rgb(240, 255, 255, .1);
  background-position: center;
  background-size:contain;
  /* background-image:url(images/BlueFlowerBall.gif);
  background-repeat:repeat; */
  box-shadow: inset 0 0 0 1000px rgba(85, 13, 153, 0.3);
  margin-bottom: 10px;
  
}
.content {
    position: relative;
    z-index: 2;
    margin-left: 2rem;
    padding: 20px;
    color: white;
}
/* nav:hover ~ .content {
    margin-left: 4rem;
} */
/* aside {
  width: 30%;
  height: 80%;
  margin-top: 20px;
  padding-left: 1rem;
  margin-left: 1rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
} */

nav {
 background: linear-gradient(to top, rgb(240, 248, 255), rgba(255, 248, 248, 0.7));
  width: 11rem;
  border-radius: 2px;
  height: 100vh; 
  width: 10rem;
  transition: width 0.3s ease; 
  position: fixed; 
  left: 0;
  top: 0;
  padding-top:10px;
  align-items: end;
  font-size:xx-large;
  box-shadow: 1px 3px 9px rgba(48, 47, 47, 0.6)
   
}
nav:hover ul li{
  color: #111;
}
nav:hover{
  box-shadow: 7px 0px 30px  rgba(48, 47, 47, 0.6);
  z-index: 6;
  width: 11rem;
  color:rgba(255, 248, 248, 0.3);
}


nav:hover li{
  color:rgba(0, 0, 0, 0.2);
}

.nav-img{
  margin: auto;
  height: auto;
  width: 40%;
  border: 2px solid #111;
  border-radius: 100%;
}
/* .nav-img:hover{} */
nav input {
  width: 80%;
  margin-top: 100px;
  border-radius: 6px
}


ul {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    color: rgba(0, 0, 0, 0.3)
}

.nav-profile{
  margin-top: 100%;
}


li:hover{
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

li {
  flex: auto;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 1px;
  list-style-type: none;
}


.nav a:hover {
  text-shadow: 1px 10px 20px rgba(218, 165, 32, 0.7);
  color: rgba(39, 38, 38, 0.7);
}

.nav-profile a:hover{
  color: rgba(196, 200, 255, 1);
  
}

.main-div::before{
  display: none;
}
.main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  width: 60%;
  height: 280px;
  margin:auto;
  margin-top: 5px;
  margin-bottom: 15px;
  background: linear-gradient(to top, oklch(25.786% 0.00346 165.253/.4 )30%, oklch(91.63% 0.04354 226.621/.8));
  border-radius: 18px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5)
}

.main-div:hover{
color: rgba(255, 250, 250, 0.5);
}

.blog-div{
margin: auto;
width: 80%;
height: 10rem;
background: oklch(86.452% 0.06914 206.412) 70%;
}

.blog-box{
 background: oklch(86.452% 0.06914 206.412) 90%;
}

img {
    vertical-align:middle;
}


.carousel-heading{
  border-radius: 12px 12px 0 0;
  margin-bottom: 10px;
  font-size: 50px;
  color: rgba(0,0,0,0.3)
}

.carousel{
  margin: 100px auto;
  width: 80%;
  display: flex;
  overflow-x: auto;
  border-radius: 10px;
} 

.carousel::-webkit-scrollbar{
  display: none;
}

.group{
  display: flex;
  align-items: center;
  gap: 1em;
  animation: spin 35s infinite linear;
  padding-right: 1em;
  min-width: max-content;
}
/* .group:hover{
  animation-play-state: paused;
} */

.card {
  position: relative;
  flex: 0 0 20em;
  height: 12em;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  align-content:center;
  
}

.card:hover .card-img{
  transform: scale(1.05);
}
.card-img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position:center;
  display: block;
  border-radius: .2em;
  transition: transform .3s ease;
}

.card-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .5em;
  background: linear-gradient(transparent, rgba(0,0,0,.8) );
  color: white;
  transform: translateY(100%);
  transition: .3s ease;
}

.card:hover .card-overlay{
  transform: translateY(0);
}
@keyframes spin {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

.user-welcome{
  font-size: 40px;
color: rgba(0, 0, 0, 0.1);
}

#user-scroller{
height: 350px;
width: 500px;
}

.user-scroller-container {
  position: relative;
  max-width: 1100px;
  margin: 40px auto;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  opacity: 0.95;

}
  
.scroller-container {
  position: relative;
  width: 60%;
  max-width: 280px;
  max-height: 200px;
  margin: 20px auto;
  margin-bottom: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  opacity: 0.95;
  
}

.scroller-container :hover{
  filter: none}
.slide-list {
    display: none;
    width: 100%;
}
.slide-img-div{
  aspect-ratio: 16 / 9;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.slide-list img {
    width: 100%;
    max-height: 250px;
    height: auto;
    display: block;
    

}
.slide-list:first-child {
    display: block;
}

.left-scroll,
.right-scroll {
    position: absolute;
    top:80%;
    width: 10%;
    height: 30%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    border-radius: 20%;
    border: none;
    padding: 12px 12px;
    cursor: pointer;
    color:rgba(242, 242, 242, 0.9);
    font-size: 10px;
    z-index: 10;
}

.left-scroll { left: 1%; }
.right-scroll { right: 1%; }

.slide-text {
  color: #f2f2f2;
  background: #111;
  font-size: 12px;
  padding: 1px 12px;
  position: absolute;
  border-radius: 50%;
  width: 25%;
  right: 0px;
  margin-top: 10px;
  text-align: center;
}
.slide-number {
  color: #f2f2f2;
  background: rgba(17, 17, 17, 0.2);
  border-radius: 12px;
  font-size: 10px;
  padding: 1px 20px;
  margin: auto;
  position: absolute;
  top: 2%;
} 

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .0}
  to {opacity: 1}
}
.blog-heading{
  border-radius: 12px 12px 0 0;
  margin-bottom: 10px;
  font-size: 50px;
  color: rgba(0,0,0,0.3)
}
.blog-subtitle{
  font-family:Arial, Helvetica, sans-serif;
  max-height: 25%;
  color:#f2f2f2;
}
.blog-section {
  background: rgba(255, 248, 248, 0.3);
  min-height: 140vh;
  height: 100%;
  width: 80%;
  border-radius: 12px;
  margin:60px auto;
  padding: 30px;
  margin-bottom: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
  

.blog-grid {
  display: flex;
  flex-direction: row;
  gap: 20px; 
  background: rgba(240, 248, 255, 0.5);
  width: 95%;
  margin: auto;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
  padding: 2rem;
}

.blog-card {
    background: linear-gradient(200deg,rgba(211, 190, 211, 0.9) 0%, rgba(180, 213, 219, 0.8) 40%, rgba(186, 188, 228, 0.705) 100%);
    width: 30%;
    padding: 6px;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.5)
    
}
.inner-blog {
    display: flex;
    flex-direction: column;
    background: rgba(39, 38, 38, 0.2);
    height: 50%;
    margin: auto;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.img-div{
  aspect-ratio: 16 / 9;
  width: 100%;
  overflow: hidden;
}


.blog-image{
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position:bottom;
  display: block;
  background: #f2f2f2;
  
}
.title-div{
  border-radius: 12px;
  width: 100%;
}
.blog-title{
    background: rgba(239, 239, 243, 0.9);
    color:rgba(105, 105, 105, 0.9);
    border-radius: 12px 12px 0 0
    
}

.blog-card:hover {
    transform: translateY(-5px);
}


.personal-page-center{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
}
.personal-articles-list-1{
  height: 100%;
  width: 54%;
  display: grid;
  gap: 12px;
  margin-top: 10px;
  justify-content: space-evenly;
  grid-template-rows: repeat(1, 2fr);
  margin: auto;
  /* background:linear-gradient(to top left,rgba(255, 250, 250, 0.5), rgba(240, 248, 255, 0.9)) */
}
.personal-article-grid{
  display: grid;
  align-content: start;
  width: 1000px;
}
  
.personal-article-div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  background: white;
  width: 100%;
  height: 240px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  
}
.personal-article-div-inner{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background:white;
border-start-start-radius: 100px;
display: grid;
align-content: space-around;
align-items: end;
}

.personal-article-left-title{
  font-size: 45px;
}
.personal-article-bottom{
display: flex;
flex-direction: row;
justify-content: space-around;
background: white;
margin: auto;
border-bottom: 2px solid rgba(153, 209, 224, .5);
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
width:60%;
border-radius: 6px
}

.personal-article-right{
  margin-left: 10px;
  border-left: 4px solid rgba(0, 0, 0, 0.1);
}
.personal-article-img-div{
  overflow: hidden;
  object-fit:contain;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  
}

.personal-article-img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position:center;
  display: block;
  

}

.four-section-div{
  display: flex;
  margin: auto;
  width: 90%;
  height: 70vh;
  align-items: start;
  justify-content: space-evenly; 
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
  border-top: 10px solid rgba(242, 242, 242, 0.5);
}

.four-section{
  background: rgb(196 200 255 / 30%);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  width: 40%;
  margin: 0;
  padding: 8px;
  gap: 12px;
  margin-left: 50px;
  margin-top: 20px;
  overflow: hidden;
}
.four-section .blog-title{

  background: rgba(239, 239, 243, 0.3);
  font-size: 33%;
  border-radius: 0%;
}

.four-section-img-div{
  border: 2px rgb(15, 15, 15);
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
  aspect-ratio: 2/4;
  width: 100%;
  overflow: hidden;
}

.four-section-img-div:hover{
  scale: 1.03;
}

.four-section-small{
  display:grid;
  grid-template-columns: repeat(4, 2fr);
  background: rgb(196 200 255 / 30%);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  width: 40%;
  margin: 0;
  margin-top: 10px;
  padding: 6px;
  gap: 8px;
  margin-left: 50px;
  overflow: hidden;
  column-gap: 1.677vw;
}

.four-section-small-img-div{
  aspect-ratio: 3/4;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
  width: 100%;
  overflow: hidden;
}

.four-section-small-img-div:hover{
  scale: 1.03;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}
.modal {
  display: none;
}

.modal.open {
  display: block;
  position:fixed;
  inset: 0;
  z-index: 5;
  align-items: center;
}
.modal-content {
    background: oklch(17.764% 0.00002 271.152 / 0.9);
    color: aliceblue;
    margin: auto;
    padding: 30px;
    height: 190px;
    max-width: 600px;
    border-radius: 12px;
}

.close-btn {
    float: right;
    cursor: pointer;
}

.login-page{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 350px;
  width: 500px;
  background: linear-gradient(to top left,rgba(0, 0, 0, 0.3), rgba(240, 248, 255, 0.5));
  color: rgba(17, 17, 17, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 18px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.login::before{
  display: none;
}
.login-box{
  width: 80%;
  height: 22%;
  background-color: rgb(148, 255, 255, .3);
  border-color: black;
  border: 2px solid black;
  border-radius: 18px;
  text-align: center;
  font-size: large;
}
.login-box:hover{
  background-color:rgb(127, 255, 212, .5);
}


button {  
  width: 75px;
  height: 40px;
  background: linear-gradient(200deg,rgba(255, 207, 255, .5) 0%, rgba(153, 209, 224, .5) 40%, rgba(196, 200, 255, .5) 100%);
  border-radius: 28px;
  margin-top: 10px;
  margin-bottom: 4px;
  box-shadow: 1px 15px 40px rgba(0,0,0,0.3);
  border: none;
}

button:hover{
  scale: 1.1;
  background-color: rgb(127, 255, 212, .5);
}

#registration-page{
   text-align: center;
}
.registration-form{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.registration
{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
  height: 50%;
  width: 75%;
  max-width: 35rem;
  min-width: 30rem;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(17, 17, 17, 0.7);
 
  border-radius: 18px;
  box-shadow: 1px 3px 3px rgba(128, 128, 128, 0.9);
  margin-bottom: 10px;
  
  
}
 .user-input{
  margin-top: 20px;
  width: 50%;
 }
/* .submit-btn{
 
} */
 .right-box{
  margin-top: 20px;
  align-items: end;
  height: 300px;
  width: 50%;
 }
 .image-box{
 
  margin: auto;
  border: 5px solid rgba(0, 0, 0, .3) ;
  border-radius: 13%;
  height: 70%;
  width:70%;
  background: rgba(242, 242, 242, 0.9);
  box-shadow: 0em 1em 1em  rgba(0, 0, 0, 0.5);
}
 
.registration-img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 10%;
}

.upload-btn{
  margin-top: 10px;
}

.card-form-content-block{
  display: flex;
  flex-direction: row;
  /* align-items: start;
  text-align: center; */
  justify-content: space-evenly;
  width: 60%;
  background: rgba(242, 242, 242, 0.5);
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
}

.form-answer{
  background: rgb(142, 204, 216, .3);
  border: 6px solid rgb(142,204,216,.3);
  border-radius: 9px;
  width: 27%;
}

.form-answer:hover,
.form-answer:has(input:checked){
    background-color: rgba(240, 248, 255, 0.5);
    box-shadow: 1px 3px 3px rgba(128, 128, 128, 0.6);
    text-shadow: 1px 1px 1px rgba(218, 165, 32, 0.3);
}
.form-answer:has(input:checked) {
    border: 6px solid rgba(142,204,216,.8);
    transform: scale(1.03);
}

.interest-headline{
  margin-bottom: 10px;
  font-size: x-large;
}

.interest-label{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.interest-img{
  height: 160px;
  width: 240px;
  object-fit: cover;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border:none;
  background-color: rgba(250, 235, 215, 0.2);
  box-shadow: 1px 15px 40px rgba(0,0,0,0.3);
  margin: auto;
}

.interest-fieldset{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 12px;
  align-content: center;
  align-items: stretch;
  margin-top: 20px;

}

.interest-checkbox{
  margin-top: 20px;
}

input-containter{
  display: flex;
}

input{

  text-align: center;
  font-size: large;
  margin: auto;
}



input:hover{
    background-color: rgba(240, 248, 255, 0.5);
    box-shadow: 1px 3px 3px rgba(128, 128, 128, 0.6);
    text-shadow: 1px 1px 1px rgba(218, 165, 32, 0.3);
}



.btn-box{
  display: flexbox;
  flex-wrap: wrap;
  align-items: center;
  height: 20%;
  width:160px;
  background: rgba(17, 17, 17, 0.2);
  border: 3px solid darkslategray; 
  border-radius: 20px;
}

gmp-map{
margin: auto;
width: 50%;;
height: 300px;
border: 2px solid gray;
}
/* 

@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
  }
} */


.article-hero {
  position: relative;
  padding: 6rem 12rem;
  overflow: hidden;
  margin: auto;
  width: 80%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.hero-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: grayscale(20%);
  opacity: 0.15;
  transform: scale(.95);
  border-radius: 75px;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1250px;
  max-height: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 8rem;
  align-items: start;
  background: #111;
  background: linear-gradient(200deg,rgba(255, 207, 255, .5) 0%, rgba(153, 209, 224, .5) 40%, rgba(196, 200, 255, .5) 100%); 
  border-radius: 10px;
}

#heroSubtitle{
  font: small-caption
}

.hero-media img {
  border-radius: 16px;
  height: 100%;
  box-shadow: 1px 15px 40px rgba(0,0,0,0.9);
}

.hero-text h1 {
  font-size: clamp(3rem, 2vw, 3.5rem);
  line-height: 1.1;
  font-weight: 400;
  background:rgba(242, 242, 242, 0.6);
  border-radius: 10px;
  box-shadow: 1px 5px 5px rgba(0,0,0,0.3);
  margin-bottom: 10px;
}
#hero-author{
  font-size: smaller;
  margin-right: 70px;

}
#upload-time{
  font-size: smaller;
  margin-right: 70px;
  
}

.category-tag {
  display: inline-block;
  background: linear-gradient(200deg,rgba(255, 207, 255, 1) 0%, rgba(153, 209, 224, 1) 40%, rgba(196, 200, 255, 1) 100%); 
  padding: 4px 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  border-radius: 20px;
  box-shadow: 1px 5px 5px rgba(0,0,0,0.6);
}

#article-first-paragraph{
  margin-top: 50px;
  line-height: 36px;
  margin-right: 55px;
  font-family: serif;
  font-style: oblique;
  text-align: center;
  margin-bottom: 30px;
  padding: 30px
}

.article-container {
  max-width: 770px;
  margin: 3rem auto;
  font-weight:400;
  font-size:x-large;
  background:rgba(242, 242, 242, 0.6);
  border-radius: 10px;
 
}



#article-content{
  text-indent: 10%;
  line-height: 36px;
  margin-left: 36px;
  margin-right: 36px;
  text-align: justify;
}

.scroll-header {
  position: fixed;
  top: 0;
  width: 100%;
  background:  rgba(142, 204, 216);
  padding: 1rem 2rem;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
}

.scroll-header.visible {
  transform: translateY(0);
}
.side-drawer {
  position: fixed;
  right: 0;
  top: 0;
  width: 31px;
  height: 20vh;
  background: white;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.side-drawer.open {
  transform: translateX(0);
}

h3{
font-family:fantasy;
text-shadow: 1px 10px 20px rgb(15, 15, 15);
font-size: 25px;
line-height:1;
-webkit-text-fill-color: rgba(0, 0, 0, .3);
opacity:.85;
}
.newsletter{
  margin-left: 20px;
}
.newsletter input{
padding:8px;
border:none;
border-radius:6px;
margin-top:6px;
width:30%;
margin-left: 80px;
}

.newsletter button{
margin-top:8px;
padding:8px 6px;
border:none;
border-radius:20px;
cursor:pointer;
font-size: 16px;
width: 6%;
margin-left: 10px
}

.footer{
font-size: 6px;
margin-top:40px;
padding:20px 60px;
/* background:linear-gradient(200deg,rgb(48,34,48),rgb(142,204,216),rgb(18,20,61)); */
color:rgba(242, 242, 242, 0.9);
border-top: 2px solid rgba(128, 128, 128, 0.2)
}

.footer-grid{
max-width:1300px;
margin:auto;
display:flex;
flex-direction: column;
gap:1px;
justify-content: flex-start;
align-items: center;
/* background-image: radial-gradient( circle,  #425cda  15% , #1ae8ff 50%, #71ff1f 100%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
display: inline-block; */

}
.footer-brand {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 260px;
}
.footer-logo{
font-family:fantasy;
font-size:45px;
margin-bottom:10px;

}

.newsletter p{
font-family:fantasy;
text-shadow: 1px 10px 20px rgb(15, 15, 15);
font-size: 40px;
line-height:2.6;
-webkit-text-fill-color: #eeeeee;
opacity:.95;

}

.footer-social{
 background: rgba(0, 0, 0, 0.1);
 border-radius: 20px;
 width: 80%;
 margin: auto;
}

.footer-social a{
-webkit-text-fill-color: rgb(142, 204, 216);
font-size: 10px;
margin-right:12px;
text-shadow: 1px 10px 20px rgb(15, 15, 15);

}

.footer-nav ul,
.footer-trending ul{
list-style:none;
padding:0;
}

.footer-nav li,
.footer-trending li{
margin-bottom:8px;
}

.footer-nav a,
.footer-trending a{
color:#eee;
text-decoration:none;
}

.footer-nav a:hover,
.footer-trending a:hover{
color:white;
}

.tag-cloud{
display:flex;
flex-wrap:wrap;
gap:8px;
}

.tag-cloud a{
background:rgba(255,255,255,.15);
padding:4px 10px;
border-radius:20px;
text-decoration:none;

}

.tag-cloud a:hover{
background:rgba(255,255,255,.3);
}



.footer-bottom{
margin-top:40px;
padding-top:15px;
border-top:1px solid rgba(255,255,255,.2);
display:flex;
justify-content:space-between;
flex-wrap:wrap;
}

.footer-legal a{
margin-left:12px;

text-decoration:none;
}

.profile-container{
  display:flex;
  justify-content:center;
  margin-top:100px;
}

.profile-card{
  background:#1e1e1e;
  padding:40px;
  border-radius:12px;
  width:350px;
  text-align:center;
}

.avatar{
  width:120px;
  height:120px;
  border-radius:50%;
  margin-bottom:15px;
}